*.idea
*.DS_Store
*test.py
*test.m
*.pyc
*read_mnist.py
*2015.py
*.class
*m~
*results.txt
matlab
*rptree2.py
cpp2
cpp/nbproject
*.o
*.cpp~
cpp/build/
*.so
*.mat
datasets
python
bin/*
obj/*
/exact/tester
data/*
*~
/parameters/*~
/binary_writer/binary_writer
/mrpt/mrpt_comparison
/wrapper-SLURM/*.txt
/wrapper-SLURM/*.out
/tmp/*
tmp.*
fsm-lite
fsm-lite/*
cmake-3.8.2-Linux-x86_64
cmake-3.8.2-Linux-x86_64/*
cmake-3.8.2-Linux-x86_64.tar.gz
results/Ecol100-test/*
images/*
eigen/*
googletest/*
googletest
bits/vector/test_bits
bits/projection/bits_matrix
bits/distance/bits_distance
file_finder/file_finder
results/*

*.aalto.fi
